doctype html
head
    title Le Blog - Edit Profile
    link(href='/stylesheet.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    link(href='/normalize.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
    link(href='/stylesheet.css', rel='stylesheet')
    link(href='/responsive.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='scripts/javascript.js')
body(class="indEditingPage")
  div(class="banner")
        h1 This Little Blog
  nav
      ul
          li
              a(href='/profile') menu
          li
              a(href='/addPost') new post 
          li
              a(href='/seeMyPosts') see my posts
          li
              a(href='/seePosts') see all posts
          li(class="selected")
              a(href='/edit') edit profile
          li
              a(href='/logout') logout
  div(class="editingSubmission")
    h2(class="welcome") First Name Edits
    form(action="/changeFirstName" method="post")
        p Current First Name: 
        p(class="highlight")= user.firstname
        label New First Name: 
          input(type="text" name="firstName" class="line")
        input(class="editingSubmitButton" type="submit")
    a(href='/edit') Go back to editing page
  footer(id="footer")
    p made in 2016 by colette biervliet-schranz
