doctype html
head
    title Le Blog - Make a Post
    link(href='/stylesheet.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    link(href='/normalize.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
    link(href='/stylesheet.css', rel='stylesheet')
    link(href='/responsive.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='scripts/javascript.js')
body(id="addPost")
    div(class="banner")
        h1 This Little Blog
    nav
        ul
            li
                a(href='/profile') menu
            li(class="selected")
                a(href='/addPost') new post 
            li
                a(href='/seeMyPosts') see my posts
            li
                a(href='/seePosts') see all posts
            li
                a(href='/edit') edit profile
            li
                a(href='/logout') logout
    h2 Unleash a Little Brilliance
    form(action="/addPost" method="post")
      p Title
      input#postTitle(type="text" name="blogTitle")
      div#postBody
        p Body
        textarea#blogBody(type="text" name="blogBody")
        p
        input#submitButton(type="submit")
    footer(id="footer")
      p made in 2016 by colette biervliet-schranz