doctype html
head
    title This Little Blog - BLogin
    link(href='/normalize.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
    link(href='/stylesheet.css', rel='stylesheet')
    link(href='/responsive.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='js.cookie.js')
    script(src='javascript.js')
body#loginBody
   if user
      div(class="passwordMessage")
        if passwordMessage
        h2.alert= passwordMessage
      div(class="choices")
        a(href='/profile') view profile
        br
        a(href='/logout') log out
    else
      div(class="banner")
        h1 This Little Blog
      div(id="readMessagesLink")
        a(href="/seePosts") Read All Posts as a Guest
      div(class="passwordMessage")
        if passwordMessage
          h2.alert= passwordMessage
      div(id="formAndMessages")
        h2.alert= message
        h2 Please Enter Your Email and Password Below:
        form(action="/" method="post" id="loginForm")
            p Email
            input#userNameInput(type="text" name="email")
            p Password
            input#passwordInput(type="password" name="password")
            a(href='/forgot') Forgot your password?
            input#magicButton(type="submit")
        div(id="loginBottom")
          p If you do not have an account, please 
            a(href='/register') register here.
      footer(id="footer")
        p made in 2016 by colette biervliet-schranz