doctype html
head
    title Le Blog - Login
    link(href='/stylesheet.css', rel='stylesheet')
body#loginBody
  h1 The Greatest Blog App the World Has Ever Seen
  h2 Please Enter Your Username and Password Below
    form(action="/" method="post")
      fieldset
        p Username
        input(type="text" name="username")
        p Password
        input(type="password" name="password")
        p
        input(type="submit")
        p 
        If you do not have an account, please 
        a(href='/register') register here.