doctype html
head
    title Le Blog - Registration Successful!
    link(href='/stylesheet.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/scripts/js.cookie.js')
    script(src='/scripts/javascript.js')
body
  h1 Congratulations! You have successfully registered as USERNAME HERE.
  a(href='/addPost') make a new post
  br
  a(href='/seeMyPosts') see all your posts
  br
  a(href='/seePosts') see all users posts
  br
  a(href='/logout') log out
