doctype html
head
    title Le Blog - Make a Post
    link(href='/stylesheet.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/scripts/js.cookie.js')
    script(src='/scripts/javascript.js')
body
    h1 Reset Your Password
    form(action="/reset" method="post")
      p Email
      input(type="text" name="Email")
      input(type="submit")
  a(href='/') go back to the login page