/********************************************************
VARIABLES
*********************************************************/

$coffee-color: #6f4e37;
$coffee-font: darken($coffee-color, 15%);
@mixin a-colors {
    color: $coffee-font;
    &:hover {
        color: $coffee-color;
    }
}


/********************************************************
GENERAL STYLES
*********************************************************/

body {
    background-image: url("images/wooden-panels.jpg");
    background-size: 100%;
    font-family: 'Swanky and Moo Moo', cursive;
    color: $coffee-font;
}

.banner {
    background: url("images/coffee-banner.jpg");
    height: 150px;
    background-size: 100%;
    border: 1px solid $coffee-color;
    text-align: center;
    h1 {
        font-weight: bold;
        font-size: 300%;
    }
}

.alert {
    color: lighten(#9a0026, 10%);
    text-align: center;
}

footer {
    clear: both;
    text-align: center;
}

nav {
    width: 100%;
    height: 50px;
    float: left;
    background: $coffee-font;
    margin-bottom: 20px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        min-height: 100%;
    }
    li {
        padding: 0;
        list-style: none;
        // outline: 1px solid white;
        box-shadow: 0 0 0 1px $coffee-color inset;
        width: 16.6666%;
        float: left;
        a {
            display: block;
            text-align: center;
            text-decoration: none;
            height: 50px;
            color: lighten($coffee-color, 10%);
            font-size: 110%;
            &:hover {
                color: $coffee-color;
                text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
            }
        }
    }
}

.selected {
    a {
        text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
        color: $coffee-color;
    }
}


/********************************************************
PAGES: LOGIN PAGE
*********************************************************/

#loginBody {
    text-align: center;
    h2 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

#formAndMessages {
    p {
        font-size: 150%;
        margin-bottom: 0px;
    }
    form {
        a {
            @include a-colors;
            display: block;
            margin-bottom: 20px;
        }
        input {
            display: block;
            margin: auto;
        }
    }
    a {
        @include a-colors;
    }
}

#loginBottom {
    width: 80%;
    margin: auto;
}

#magicButton {
    border-radius: 10%;
    background: $coffee-color;
    color: white;
    &:hover {
        background: darken($coffee-color, 20%);
    }
}

#register {
    font-size: 125%;
}

.choices {
    a {
        color: $coffee-font;
        font-size: 150%;
        &:hover {
            color: $coffee-color;
        }
    }
}


/********************************************************
PAGES: PROFILE PAGE
*********************************************************/

#profilePage {
    h2 {
        font-size: 150%;
        text-align: center;
    }
}

.welcome {
    margin: 100px 50px 50px 50px;
    padding: 20px;
    border: 2px solid $coffee-font;
    text-align: center;
}

#options {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        font-size: 150%;
        @include a-colors;
        img {
            width: 100px;
            height: 100px;
            padding: 0;
            margin: 0;
            border-radius: 10%;
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
    li {
        float: left;
        width: 100%;
        margin: 2.5%;
        text-align: center;
        &:hover {
            img {
                box-shadow: 0px 0px 40px #fff;
            }
            a {
                color: $coffee-color;
            }
        }
    }
}


/********************************************************
PAGES: ADD POST
*********************************************************/

#addPost {
    h2 {
        @extend .welcome;
        margin-bottom: 20px;
    }
    text-align: center;
    form {
        text-align: center;
        margin: auto;
        max-width: 900px;
        p {
            font-size: 150%;
            margin: 0;
        }
    }
}

#postTitle {
    width: 70%;
    text-align: center;
    font-size: 150%;
    &:focus {
        outline-color: complement($coffee-font);
    }
}

#postBody {
    margin-top: 20px;
    textarea {
        width: 70%;
        min-height: 200px;
        font-size: 150%;
        &:focus {
            outline-color: complement($coffee-font);
        }
    }
}

#submitButton {
    @extend #magicButton;
    margin-top: 10px;
}


/********************************************************
PAGES: FORGOT
*********************************************************/

.lil_nav {
    text-align: center;
    img {
        height: 100px;
        width: 100px;
        border: 1px solid $coffee-font;
        margin-top: 20px;
        margin-bottom: 0;
    }
    a {
        color: $coffee-font;
        p {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

#resetPasswordForm {
    margin: auto;
    h2 {
        padding: 20px;
        border: 2px solid $coffee-font;
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 100px;
    }
    form {
        legend {
            font-size: 125%;
            padding-left: 5px;
        }
        text-align: center;
        outline: 1px solid $coffee-font;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
    }
    button {
        @extend #magicButton;
        margin: 20px auto auto auto;
        display: block;
    }
}

.forgotPasswordMessage {
    h2 {
        width: 80%;
        margin: auto;
    }
}

#resetForm {
    form {
        text-align: center;
        width: 80%;
        margin: auto;
        outline: 1px solid $coffee-font;
        padding: 10px;
    }
    label {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 0;
    }
    input {
        display: block;
        margin: auto;
    }
}

#passwordChangeSubmit {
    @extend #magicButton;
}


/********************************************************
PAGES: SEE MY POSTS / SEE ALL POSTS
*********************************************************/

.intro {
    h2 {
        @extend .welcome;
        margin-bottom: 20px;
    }
}

.messageDisplay {
    padding: 20px;
    h2 {
        @extend .welcome;
        margin-bottom: 20px;
    }
    li {
        list-style-type: none;
        opacity: 0.9;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 25px;
        max-width: 900px;
    }
    p {
        font-size: 125%;
        padding: 20px;
        background-color: lighten($coffee-color, 10%);
        margin-top: 0;
        margin-bottom: 0;
    }
}

.tableOfContents {
    border: 1px solid $coffee-font;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
    h3 {
        font-size: 150%;
        margin: 0;
        color: $coffee-font;
        border-bottom: 1px solid $coffee-font;
    }
    li {
        margin: 0;
        list-style: none;
        a {
            color: $coffee-font;
            font-size: 125%;
        }
    }
}

p.titleLink {
    display: block;
    color: $coffee-font;
    background: lighten($coffee-color, 60%);
    font-size: 150%;
    text-align: center;
    border-radius: 25px 25px 0 0;
    color: $coffee-font;
    padding: 0;
}

a.commentLink {
    @extend p.titleLink;
    border-radius: 0 0 25px 25px;
    text-decoration: none;
    background: lighten($coffee-color, 40%);
    font-size: 125%;
    cursor: pointer;
    cursor: hand;
}

.commentDropdown {
    background-color: $coffee-color;
    width: 80%;
    margin: auto;
    color: white;
    text-align: center;
    ul {
        margin-top: 0;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0; //this solves the jerkiness in the jquery slide
    }
    li {
        text-align: center;
        margin-bottom: 0;
        margin-left: 0;
        border: 1px solid $coffee-font;
        border-top: 0;
        border-radius: 0;
        padding: 10px;
        font-size: 125%;
    }
    .commentWrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid $coffee-font;
        border-top: 0;
    }
    .commentForm {
        width: 90%;
    }
    .commentSubmit {
        display: block;
        margin: auto;
        @extend #magicButton;
        background: darken($coffee-font, 10%);
        cursor: pointer;
        cursor: hand;
    }
}

.postBrilliance {
    h2 {
        font-size: 200%;
    }
}


/********************************************************
PAGES: REGISTRATION FORM
*********************************************************/

#registerBody {
    h2 {
        @extend .welcome;
        margin-top: 10px;
    }
}

.registrationForm {
    margin: auto;
    width: 80%;
    outline: 1px solid $coffee-font;
    padding: 20px;
    text-align: center;
    label {
        display: block;
        text-align: right;
    }
    .line {
        margin-bottom: 10px;
    }
    .clump {
        margin: auto;
        display: inline-block;
    }
}

#registrationSubmit {
    @extend #magicButton;
    margin: auto;
    display: block;
}

.pInline {
    display: inline;
    text-align: left;
}

.formInput {
    font-weight: bold;
}


/********************************************************
PAGES: EDITING FORM
*********************************************************/

.editingArena {
    display: block;
}

.existingUserInfo {
    border: 1px solid $coffee-font;
    border-bottom: 0px;
    text-align: center;
    padding-top: 50px;
    p {
        a {
            color: $coffee-font;
            &:hover {
                color: $coffee-color;
            }
        }
    }
    h2 {
        text-align: center;
    }
    ul {
        list-style: none;
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        li {
            text-align: left;
            border: 1px solid $coffee-font;
            border-bottom: 0;
            &:last-child {
                border-bottom: 1px solid $coffee-font;
            }
            padding: 5px;
            span {
                font-size: 125%;
                font-weight: bold;
            }
        }
    }
}

.editingButton {
    @extend #registrationSubmit;
    display: inline;
    float: right;
    text-decoration: none;
    padding: 2px;
    margin-left: 20px;
}

.indEditingPage {
    text-align: center;
    .multiple-input {
        display: block;
    }
    .editingSubmitButton {
        @extend #registrationSubmit;
        display: inline;
    }
    label {
        padding-bottom: 20px;
        display: inline-block;
    }
    .line {
        margin-right: 10px;
    }
    .editingSubmission {
        font-size: 150%;
        .highlight {
            font-size: 150%;
        }
        form {
            input {
                margin: auto;
            }
        }
        a {
            display: inline-block;
            margin-top: 10px;
            color: $coffee-font;
            &:hover {
                color: $coffee-color;
            }
        }
    }
}